* {
  margin: 10px;
  padding: 5px;
  border: 1px;
}




h2 {
  color: rgba(235, 84, 38, 0.809);
  text-align: center;
  font-size: 75px;
  border: 0px;
  margin: 0px;
  padding: 5px;
  font-weight: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

body {
  background-color: rgba(185, 187, 127, 0.678);
}



.img {
  display: inline-flex;
  border: 3px;
  padding: 1px;
  margin-inline-start: 350px;
  font-size: 550px;
  text-align: left;

}

.principio {
  flex: row;

}

.final {
  display: inline-flex;
}

@media (max-width:900px) {
  body {
    background-color: rgb(19, 210, 210);
  }
}

@media(max-width:500px) {
  body {
    background-color: rgb(174, 110, 233);
  }
}

@media(max-width:250px) {
  body {
    background-color: rgb(139, 120, 155);
  }
}

.sobre {
  animation-duration: 4s;
  animation-name: animacion;
  animation-iteration-count: infinite;
  text-align-last: center;


}

@keyframes animacion {
  5% {
    opacity: 2;
    color: rgb(208, 28, 88);
  }

  50% {
    opacity: 2;
    color: rgba(11, 135, 83, 0.945);
  }

  100% {
    opacity: 2;
    color: rgba(34, 0, 255, 0.492);

  }


}



.final {
  text-align: center;



}

.sobre {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(21, 128, 40, 0.982);
  text-align: center;
  margin: 10px;
  padding: 50px;
  border: 20px;
}

.gps {
  text-align: center;
  

}

.contenedor1 {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.carousel {
  width: 50%;
}
.contenedor2{
  
  display: flex;
  justify-content: center;



}

.navbar-brand{
  
  color: rgb(241, 15, 15);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 80px;
  
}

.cont{
  background-color: rgba(197, 23, 46, 0.85);
  
}





